.flexColumns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flexColumns .column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 0;
}

.flexColumns .column .infoColumn,
.flexColumns .column .graphicColumn{
    height: 100%;
}

.flexColumns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flexColumns .infoColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
}

.flexColumns .infoColumn p{
    font-size: 24px;
    max-width: 400px;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;

    text-align: center;
}

.header {
    margin: 5% 0 auto;
    text-align: center;
    font-size: 60px;
}

h1 {
    font-size: 2.5rem;
}