.formgroup {
    margin: 30px 20px;
}

.formgroup label{
    display: block;
    text-align: left;
}

.formgroup input{
    width: 100%;
    padding: 10px;
    border: #aaa 1px solid;
    border-radius: 5px;
}

hr {
    color: #aaa;
}

.btn{ 
    width: 100%;
    font-size: 18px;
    margin: 15px 0;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.authform {
    padding: 30px 20px;
}

h2 {
    font-size: 2rem;
}